# Python bytecode
__pycache__/
*.py[cod]
*$py.class

# Environment
.env
.venv/
venv/
env/

# Databases
*.db
*.sqlite3
*.sqlite

# Alembic / Migrations (optional)
alembic/versions/*.pyc

# Editor / IDE
.vscode/
.idea/

# macOS
.DS_Store

# Logs
*.log
